@model KazerBariWeb.Models.BannerSave

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

} 

            <section>
                <div class="container">
                    <div class="col-md-12 mt-5">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop1"
                            style="margin-left: 45%;">Add Post Banner</button>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8 table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead style="background-color:yellow;">
                                    <tr>
                                        <th>BannerId</th>
                                        <th>Picture</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.CBan)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                <img style="width:200px; height: 200px; ;" src="\AllBanner\@item.ImageName">
                                            </td>
                                            <td>
                                                <a type="button" class="btn btn-danger" asp-action="PostannerDelete"
                                                    asp-route-banId="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>


        </div>
    </div>





    @* add bannr *@
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel" style="padding-left: 30%;">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">


                    <form enctype="multipart/form-data" asp-action="AddPostBanner">
                        <div class="form-row col-md-12">
                            <div class=" col-md-8 ">
                                 
                                <div class="form-group">
                                    <label for="input-banner-img">Banner</label>
                                    <input asp-for="@Model.Banner" class="form-control-file" id="input-banner-img">

                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

 