@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
} 
       
<h1>Welcome to Admin Dashboard</h1>
<script type="text/javascript">
    $(document).ready(function () {
        $(".big_img").imagezoomsl({
            zoomrange: [3, 3]
        })
    })
</script>